{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'consumer_datapoint/background.css' %}">
Page <b>{{page}}</b><br />
Logo <b><a href="/">{{logo}}</a></b><br />
Username <b>{{username}}</b> <a href='/{{login}}'>{{login}}</a><br />
{% for app_link in app_links %}
    <li><a href="{{ app_link }}">{{ app_link }}</a></li>
{% endfor %}<br/>
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <!-- {{ form | crispy }} -->
    <button type="submit">Submit</button>
</form>
