{% extends 'consumer_datapoint/base_00.html' %}
{% load crispy_forms_tags %}
{%block content %}
{% for app_link in app_links %}
    <li><a href="{{ app_link }}">{{ app_link }}</a></li>
{% endfor %}
<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <!-- {{ form | crispy }} -->
    <button type="submit">Submit</button>
</form>
{% endblock %}
<!-- <table border='1px'>
<tr><td>DATAPOINT</td><td>ANSWER_TYPE</td><td>OPTIONS</td></tr>
<tr><td>{{datapoint}}</td><td>{{ datapoint.answer_type }}</td><td>{{datapoint.options}}</td></tr>
</table> -->
